@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}
html{
    font-size: 62.5%;
    overflow: hidden;
}
body{
    background: url(/background.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}
.header .sticky{
  background: var(--bg-color);
}
.logo{
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}
.navbar{
  position: relative;
}
.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color );
}  
#menu-icon{
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
}
.home-content{
    max-width: 60rem;
    z-index: 99;
}  
.home-content h1{
    position: relative;
    display: inline-block;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content h1 span{
  color: var(--text-color);
}
.home-content .text-animate{
    position: relative;
}
.home-content .text-animate h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip:  text;
    background-position: -33rem 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2.2s;
}
.home-content .text-animate h3::before{
  content:  '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 2px solid var(--main-color);
  z-index: -1;
  animation: homeCursorText 6s linear infinite;
  animation-delay: 1.5s;
}
.home-content p{
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

    button {
        position: relative;
        width: 10em;
        height: 3em;
        outline: none;
        transition: 0.1s;
        background-color: transparent;
        border: none;
        margin-left: 3rem;
        font-size: 10px;
        font-weight: bold;
        color: #98d2da;
        margin: 0.5rem;
        
        
      }
      
      #clip {
        --color:  #27c37ad3;
        position: absolute;
        top: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border: 4px double var(--color);
        box-shadow: inset 0px 0px 13px #257988f3;
      }
      
      .arrow {
        position: absolute;
        transition: 0.2s;
        background-color: #3564b6;
        top: 35%;
        width: 5%;
        height: 25%;
      }
      
      #leftArrow {
        left: -13.5%;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
      }
      
      #rightArrow {
        -webkit-clip-path: polygon(100% 49%, 0 0, 0 100%);
        left: 102%;
      }
      
      button:hover #rightArrow {
        background-color: #27c39f;
        left: -15%;
        animation: 0.6s ease-in-out both infinite alternate rightArrow8;
      }
      
      button:hover #leftArrow {
        background-color: #27c39f;
        left: 103%;
        animation: 0.6s ease-in-out both infinite alternate leftArrow8;
        
      }
      
      .corner {
        position: absolute;
        width: 4em;
        height: 4em;
        background-color: #3f5781;
        box-shadow: inset 1px 1px 8px var(--main-color);
        transform: scale(1) rotate(45deg);
        transition: 0.2s;
      }
      
      #rightTop {
        top: -1.98em;
        left: 91%;
      }
      
      #leftTop {
        top: -1.96em;
        left: -3.0em;
      }
      
      #leftBottom {
        top: 2.3em;
        left: -2.15em;
      }
      
      #rightBottom {
        top: 45%;
        left: 88%;
      }
      
      button:hover #leftTop {
        animation: 0.1s ease-in-out 0.05s both changeColor8,
        0.2s linear 0.4s both lightEffect8;
      }
      
      button:hover #rightTop {
        animation: 0.1s ease-in-out 0.15s both changeColor8,
        0.2s linear 0.4s both lightEffect8;
      }
      
      button:hover #rightBottom {
        animation: 0.1s ease-in-out 0.25s both changeColor8,
        0.2s linear 0.4s both lightEffect8;
      }
      
      button:hover #leftBottom {
        animation: 0.1s ease-in-out 0.35s both changeColor8,
        0.2s linear 0.4s both lightEffect8;
      }
      
      button:hover .corner {
        transform: scale(1.25) rotate(45deg);
      }
      
      button:hover #clip {
        animation: 0.2s ease-in-out 0.55s both greenLight;
        --color: #27c39f;
      }
      
      @keyframes changeColor8 {
        from {
          background-color: #2d9da5;
        }
      
        to {
          background-color: #27c39f;
        }
      }
      
      @keyframes lightEffect8 {
        from {
          box-shadow: 1px 1px 5px #27c39f;
        }
      
        to {
          box-shadow: 0 0 2px #27c39f;
        }
      }
      
      @keyframes greenLight8 {
        from {
        }
      
        to {
          box-shadow: inset 0px 0px 32px #27c39f;
        }
      }
      
      @keyframes leftArrow8 {
        from {
          transform: translate(0px);
        }
      
        to {
          transform: translateX(10px);
        }
      }
      
      @keyframes rightArrow8 {
        from {
          transform: translate(0px);
        }
      
        to {
          transform: translateX(-10px);
        }
      }
.home-sci{
    position: absolute;
    bottom: 7rem;
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
    
}     
.home-sci a{
    position:relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    margin-right: 3rem;
} 
.home-sci a:hover{
    color: var(--bg-color);
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before{
    width: 100%;

}
.home-imgHover{
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 65%;
  margin-top: 110px;
  margin-right: 6%;
  background: transparent;
  border: 3px groove #348d34a8;
  border-radius: 40%;
  box-shadow: 20px 20px 50px 10px rgba(196, 164, 61, 0.61) ;
  transition: 0;
  background: url('/R1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.home-imgHover:hover{
  background: rgba(124, 184, 194, 0.199);
  opacity: .8;
}   

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: url(/background.jpg)no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 6rem;
  
}
.heading{
  position: relative;
  font-size: 2rem;
}
span{
  color: var(--main-color);
}
.about-img{
  position: relative;
  width: 25rem;
  height: 25rem;
  margin-top: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
} 
.about-img img{
  width: 90%;
  border-radius: 50%;
  margin-bottom: 8rem;
  border: 1rem solid rgb(214, 111, 111, 0.973 );
  box-shadow: 20px 20px 50px 10px rgba(214, 111, 111, 0.973) ;
}

.about-img .circle-spin{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: .2rem solid rgba(192, 191, 191, 0.027);
  border-bottom: .2rem solid rgb(192, 191, 191,0.027);
  border-left: .2rem solid var(--main-color);
  border-right: .2rem solid var(--main-color);
  animation:  aboutSpinner 8s linear infinite;
}
.about-content{
  text-align: center;
}
.about-content h3{
  position: relative;
  display: inline-block;
  font-size: 2rem;
}
.about-content p {
  position: relative;
  font-size: 1.6rem;
}

.education{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-top: 6rem;
}
.education .education-row{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.education-row .education-column{
  flex:  1 40rem;
}
.education-column .title{
  font-size: 2.3rem;
  margin:  0 1rem .5rem;
  margin-top: 5%;
}
.education-column .education-box{
  border-left: .2rem solid var(--main-color);
}
.education-box .education-content{
  position: relative;
  padding-left: 1.2rem;
}
.education-box .education-content::before{
  content: '';
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background: var(--main-color);
  border-radius: 40%;
  
}

.education-content .content{
  position: relative;
  padding: 1.1rem;
  border: .2rem solid var(--main-color);
  border-radius: .6rem;
  margin-bottom: .5rem;
}
.education-content .content::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: .5s;
}
.education-content .content:hover:before{
  width: 0%;
}
.education-content .content .year{
  font-size: 1rem;
  color: var(--main-color);
  padding-bottom: .1rem;
}

.education-content .content .year i {
  padding-right: .5rem;
}
.education-content .content h3{
  font-size: 1.5rem;
}
.education-content .content p{
  font-size: 1.2rem;
  padding-top: .5rem;
}

.skills{
  min-height: auto;
  padding-bottom: 24rem;
}
.skills .heading{
  margin-top: 3%;
  font-size: 2.2rem
}

.skills .skills-row{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.skills-row .skills-column{
  flex: 1 0 30rem;
}
.skills-column .title{
  font-size: 2rem;
  margin: 0 0 1rem;
}
.skills-box .skills-content{
  position: relative;
  border: .2rem solid var(--main-color);
  border-radius: .6rem;
  padding: .5rem 1rem;
  z-index: 1;
  overflow: hidden;
} 
.skills-box .skills-content::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: .5s;
}
.skills-box .skills-content:hover:before{
  width: 100%;
}
.skills-content .progress{
  padding: .6rem 0;
}
.skills-content .progress h3{
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.skills-content .progress h3 span{
  color: var(--text-color);
}
.skills-content .progress .bar{
  height: 2rem;
  border-radius: .6rem;
  border: .2rem solid var(--main-color);
  padding: .5rem;
  margin: 1rem 0;
}
.skills-content .progress .bar span{
  display: block;
  height: 100%;
  border-radius: .3rem;
  background: var(--main-color);
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
  width: 90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
  width: 60%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
  width: 40%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
  width: 50%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
  width: 80%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
  width: 70%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
  width: 80%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
  width: 60%;
}

.contact{
  min-height: auto;
  padding-bottom: 7rem;
}
.contact .heading{
  margin-left: 43.5%;

  margin-bottom: 1%;
  
}
.contact form{
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}
.contact form .input-box{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box .input-field{
  position: relative;
  width: 49%;
  margin: .1rem ;
}
.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
  width: 100%;
  height: 100%;
  padding: 1.1rem;
  font-size: 1rem;
  color: var(--text-color);
  background: transparent;
  border-radius: .6rem;
  border: .2rem solid var(--main-color);
}
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
  color: var(--text-color);
}
.contact form .focus{
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--second-bg-color);
  border-radius: .6rem;
  z-index: -1;
  transition: .5s;
}
.contact  form .input-box .input-field input:focus~.focus,
.contact  form .input-box .input-field input:valid~.focus,
.contact  form .textarea-field textarea:focus~.focus,
.contact  form .textarea-field textarea:valid~.focus{
  width: 100%;
}

.contact form .textarea-field{
  position: relative;
  margin: .8rem 0 1rem;
  display: flex;
}
.contact form .textarea-field textarea{
  resize: none;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 4%;
  background: var(--second-bg-color);
}
.footer-text p{
  font-size: 1rem;
}
.footer-iconTop a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  background: var(--main-color);
  border: .1rem solid var(--main-color);
  border-radius: .5rem;
  z-index: 1;
  overflow: hidden;
}
.footer-iconTop a::before{
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: .5s;
}
.footer-iconTop a:hover::before{
  width: 100%
}
.footer-iconTop a i {
  font-size: 1.5rem;
  color: var(--bg-color);
  transition: .5;
}
.footer-iconTop a:hover i{
  color:var(--main-color);
}

/* Reload and scroll */
.animate{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 102.8%;
  background: yellowgreen;
  z-index: 98;
}
.animate .home-img{
  width: 50%;
}
.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home .show-animate .animate{
  animation: showRight 1s ease forwards;
  animation-delay: calc(.3s * var(--i));
}

.animate .scroll{
  transition: 1s ease;
  transition-delay: calc(.3s / var(--i));
  animation: none;
}
.about .show-animate .animate .scroll{
  transition-delay: calc(.3s * var(--i));
  width: 0;
}

/* Breakpoints*/

@media ( max-width: 1200px){
  html{
    font-size: 55%;
  }
}

@media ( max-width: 991px){
  .header{
    padding: 1rem 4%;
  }
  section{
    padding: 10rem 4% 2rem;
  }
  .home{
    padding: 0 4%
  }
  .footer{
    padding: 2rem 4%;
  }
}

@media (max-width: 768px) {
  .header {
    background: var(--bg-color);
  }
  #menu-icon{
    display: block;
  }
  .navbar{
    position: absolute;
    top: 100;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    z-index: 1;
    background: var(--main-color);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    transition: .25s ease;
    transition-delay: .25s
  }
  .navbar.active{
    transition-delay: 0s;
    left: 0;
  }
  .navbar .active-nav{
    position: absolute;
    top: 0;
    left: -100;
    width: 90%;
    height: 100%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    z-index: -1;
    transition: .25s ease;
    transition-delay: 0s;
  }
  .navbar .active .active-nav{
    transition-delay: .25s;
    left: 0;
  }
  .navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    transform: translateX(-20rem);
  }

  .home-imgHover{
    pointer-events: none;
    background: var(--bg-color);
    opacity: .6;
  }
}

@media (max-width: 520px) {
  html{
    font-size: 50%;
    flex-direction: column;
  }
  .home-sci{
    width: 160px;
  }
  .home-sci a{
    width: 38px;
    height: 38px;
  }
}

@media (max-width: 462px) {
  .home-content h1{
    font-size: 5.2rem;
  }
  .education {
    padding: 10rem 4% 5rem 5%;
  }
  .contact form .input-box .input-field{
    width: 100%;
  }
  .footer{
    flex-direction: column-reverse;
  }
  .footer p{
    margin-top: 2rem;
      text-align: center;
  }
}
@media(max-width: 371px){
  .home{
    justify-content: center;
  }
  .home-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .home-content h1{
    font-size: 5rem;
  }
}

@keyframes homeBgText{
  0%, 10%, 100%{
    background-position: -66rem 0;
  }
  65%, 85%{
    background-position: 0 0;
  }
}
@keyframes homeCursorText{
  0%, 10%, 100%{
    width: 0;
  }
  65%, 78%, 85%{
    width: 60%;
    opacity: 1;
  }
  75%, 81%{
    opacity: 0;
  }
}

@keyframes aboutSpinner{
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes showRight{
  100%{
    width: 0;
  }
}